<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections></configSections>

	<!-- Configuração da string de conexão com o banco de dados -->
	<connectionStrings>
        <add name="ControleDeDespesas.Properties.Settings.DespesasConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog={0};Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!-- Habilita o suporte a um DPI mais alto -->
	<!-- Isso garante que os controles (botões, grades, fontes) fiquem nítidos em monitores 4K/modernos -->
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>