<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Consultorio.Properties.Settings.ConsultasConnectionString"
            connectionString="Data Source=DESKTOP-F2N61N5\SQLEXPRESS;Initial Catalog=Consultas;Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>